@model CourseMeetingMVC.Models.Course.CourseViewModel

<h2 class="display-2">@Model.Course.CName</h2>

<h3 class="display-3">Description</h3>

<p>@Model.Course.CDescription</p>

<h3 class="display-3">Meetings</h3>

<table class="table">
    <thead>
        <tr>
            <th>MID</th>
            <th>Date</th>
            <th>Free seats</th>
            <th>Max Marticipants</th>
            <th>SignIn</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var meeting in Model.MWithCParticpants)
        {
        <tr>
            <th asp-for="id">@meeting.MID</th>
            <th>@meeting.DateOfTheMeeting.ToString("dd.MM.yyyy")</th>
            <th>@meeting.FreeSeats</th>
            <th>@meeting.MaxParticipants</th>
            <th><a asp-controller="Course" asp-action="SignInToCourseMeeting" asp-route-id="@meeting.MID">SignIn</a></th>
        </tr>
        }
    </tbody>
</table>