@model CourseMeetingMVC.Models.Course.MyCoursesViewModel

<h2 class="display-2">My Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Name</th>
        </tr>
        <!--Design?? -->
    </thead>
    
    <tbody>
        @foreach(var item in Model.Courses)
        {
        <tr>
            <th CID="@item.CID"> <input type="button" value="+" class="ShowCID" CID="@item.CID">@item.CID</th>
            <!--this is definitly not a good solution for addressing that element, i will implement a better solution in the future-->
            <th id="@(item.CID)AName">@item.CName</th>
        </tr>

        <tr id="@item.CID" class="Collapse">
            <th colspan="2">
                <!-- Configuration -->
                <label>Name</label>
                <input value="@item.CName" class="form-control" id="@(item.CID)Name"/>
                <br/>
                <label>Description</label>
                <input value="@item.CDescription" class="form-control" id="@(item.CID)Description">

                <!-- List Secundary Techers -->
                <br/>
                <input type="submit" value="SaveChanges" cid="@item.CID" class="UpdateCourse btn btn-default"> 
            </th>
        </tr>
        }
    </tbody>
</table>

<form action="/Course/CreateCourse">
    <input type="submit" value="Create new Course"  class="btn btn-default"/>
</form>